<h2>Create document</h2>
<form class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput required placeholder="Title">
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <textarea mdInput placeholder="Description"></textarea>
        </md-form-field>
      </td>
    </tr>
    <tr>
      <md-form-field class="example-full-width">
        <input id="docInput" required mdInput placeholder="Upload Document">
      </md-form-field>
    </tr>
  </table>
</form>




