
<h2>Create document</h2>
<form class="app-form">
  <table class="app-form-full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="app-form-full-width">
          <input mdInput required placeholder="Title">
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field class="app-form-full-width">
          <textarea mdInput placeholder="Description"></textarea>
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <div class="app-form-full-width">
          <input-file mdInput placeholder="Select document" [valuePlaceholder]="valuePlaceholder" required="true"></input-file>
        </div>
      </td>
    </tr>
  </table>
</form>




