<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">

  <md-toolbar color="primary">
    <span style="font-weight: bold; font-size: larger;">PAPYRUS</span>

    <!-- Filler that pushes the menu button to the end of the toolbar -->
    <span fxFlex></span>

    <button md-button>Registration</button>
    <button md-button>Login</button>
  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" opened>
      <md-nav-list>
        <md-list-item>
          <a href="dashboard" md-button class="nav-button">
            <md-icon>dashboard</md-icon>
            <span>Dashboard</span>
          </a>
        </md-list-item>
        <md-list-item>
          <a href="contracts" md-button class="nav-button">
            <md-icon>collections_bookmark</md-icon>
            <span>Contracts</span>
          </a>
        </md-list-item>
        <md-list-item>
          <a href="documents" md-button class="nav-button">
            <md-icon>receipt</md-icon>
            <span>Documents</span>
          </a>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
</div>
