<div class="mat-input-wrapper mat-form-field-wrapper" [class.mat-input-invalid]="required && !hasFiles" [class.custom-focused]="focused">

  <label for="input-file" class="label-placeholder">
    <span><md-icon>folder</md-icon></span>
    <span class="placeholderText" *ngIf="showPlaceholder">
      {{placeholder}} <span class="mat-placeholder-required" *ngIf="required">*</span>
    </span>
  </label>
  <input #input id="input-file" class="label-placeholder" type="file" (change)="onChange($event)" (click)="onTouched($event)" (focusin)="onFocusToggle()"
         (focusout)="onFocusToggle()" [attr.multiple]="multiple ? '' : null">
  <span class="mat-input-element" (click)="open()">{{fileNames}}</span>
  <div class="mat-input-underline" >
    <span class="mat-input-ripple"></span>
  </div>
</div>
