$paddingLeft: 16px;

input {
	width: 0px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.label-placeholder{
  color: rgba(0, 0, 0, 0.54);
  width: 100%;
}

.mat-input-underline {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.42);
    top: 67%;
}

md-icon {
    max-width: 24px;
    max-height: 24px;
}

